<div class="eveniments-page-main-container">
    <div class="eveniments-list-container">
        <div class="noeveniments">
            <p *ngIf="getEvenimentListisEmpty()">
                {{"eveniments.NoEveniments" | translate}}
            </p>
        </div>
        <div class="eveniments-list" *ngIf="!getEvenimentListisEmpty()">
            <p-panel *ngFor="let eveniment of eveniments" class="eveniment" [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="panel-header">
                        <span class="panel-header-title">
                            {{ eveniment.title }}
                        </span>
                        <span class="panel-header-adminName">
                            {{ eveniment.dormAdministratorName }}
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="panel-footer">
                        <button
                            *ngIf="eveniment.canPeopleAttend && !eveniment.isUserAttending"
                            pButton
                            (click)="updateAttend(eveniment)"
                            type="button"
                            label="{{'eveniments.Attending' | translate}}"
                            severity="info"
                            class="attend-button"
                        >
                        </button>
                        <button
                            *ngIf="eveniment.canPeopleAttend && eveniment.isUserAttending"
                            pButton
                            (click)="updateAttend(eveniment)"
                            type="button"
                            label="{{'eveniments.CancelAttendance'|translate}}"
                            severity="warning"
                            class="attend-button"
                        >
                        </button>

                        <span class="panel-footer-attendees" *ngIf="eveniment.canPeopleAttend">
                            {{ eveniment.numberOfAttendees }} {{"eveniments.NumberofAttendees" | translate}}
                        </span>

                        <span class="panel-footer-date">
                            {{"eveniments.StartingAt"|translate}} {{ formatDate(eveniment.startDate) }}
                        </span>
                    </div>
                </ng-template>
                <div class="panel-body" [innerHTML]="eveniment.description"></div>
            </p-panel>
        </div>
    </div>
</div>