.dorm-administrator-details-container {
    width: 90%; 
    height: 100%;
    
  }
  
  .details-header {
    margin-bottom: 20px;
    color: var(--uvt-blue);
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: 300;
  }
  
  .detail-item {
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: 500;
    margin-right: 5px;
  }
  
  .value {
    color: #555;
  }