<div class="dorm-administrator-details-container">
  <div class="dorm-administrator-detail-header">
    <div class="details-header">{{"profile.displayDormAdministratorDetails.Header"|translate}}</div>
  </div>
  <div class="dorm-administrator-details-body">
    <div class="detail-item">
      <span class="label">{{"profile.displayDormAdministratorDetails.EmailLabel"|translate}}: </span>
      <span class="value">{{ displayDormAdministratorDetails?.email }}</span>
    </div>
    <div class="detail-item">
      <span class="label">{{"profile.displayDormAdministratorDetails.PhoneNumberLabel"|translate}}: </span>
      <span class="value">{{
        displayDormAdministratorDetails?.phoneNumber
      }}</span>
    </div>
    <div class="detail-item">
      <span class="label">{{"profile.displayDormAdministratorDetails.DormLabel"|translate}}: </span>
      <span class="value">{{ displayDormAdministratorDetails?.dormName }}</span>
    </div>
  </div>
</div>
