<h2 class="edit-room-number-dialog-title">{{"dialog.edit-room-numberTitle"|translate}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="edit-room-number-dialog-main-container">
    <form [formGroup]="editRoomNumberForm"
    (ngSubmit)="onEditRoomNumber()">
      <mat-form-field appearance="fill">
        <mat-label>{{"dialog.edit-room-numberRoom"|translate}}</mat-label>
        <input
          matInput
          type="number"
          formControlName="roomNumber"
          placeholder="{{'dialog.edit-room-numberRoomPlaceholder'|translate}}"
        />
        <mat-error
          *ngIf="
            roomNumber?.invalid && (roomNumber?.dirty || roomNumber?.touched)
          "
        >
          <span *ngIf="roomNumber?.errors?.['required']"
            >{{"dialog.edit-room-numberError1"|translate}}<br></span
          >
          <span *ngIf="roomNumber?.errors?.['invalidRoomNumber']"
            >{{"dialog.edit-room-numberError2"|translate}}</span 
          >
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onEditRoomNumber()" class="edit-room-submit-button">
    {{"dialog.edit-room-numberSaveButton"|translate}}
  </button>
</mat-dialog-actions>
