@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

html,
body {
  height: 100%;  
}  
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* .mdc-evolution-chip-set__chips
{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
} */

* {
  box-sizing: border-box;
  /* margin: 0; */
}

.flag
{
  width: 24px;
  height: 12px;
  mask-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.flag-ro {
  background-image: url(../src/assets/flags/ro.svg);
}

.flag-en {
  background-image: url(../src/assets/flags/us.svg);
}

:root {
  --uvt-blue: rgb(46, 113, 184);
  --uvt-yellow: rgb(228, 172, 34);
  --uvt-gray: rgb(240, 240, 240);
}
