.dorm-machines-page-body
{
    position: absolute;
    top: 6vh;
    width: 100%;
    height: 94vh;
}

.washing-machines-table-caption
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-machine-type-header
{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-machine-type-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.select-machine-type-buttons-left,
.select-machine-type-buttons-right
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-machine-type-button
{
    width: 70%;
}

.set-machine-details-body
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-machine-details-body-form
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
    margin-top: 5vh;
}

.set-machine-details-body-form-item
{
    width: 50%;
    margin-bottom: 5vh;
}

.set-machine-details-buttons-form,
.set-machine-confirm-buttons
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.set-machine-details-buttons-form-left,
.set-machine-details-buttons-form-right,
.set-machine-confirm-buttons-left,
.set-machine-confirm-buttons-right
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-machine-details-buttons-form-button,
.set-machine-confirm-buttons-button
{
    width: 50%;
}

.set-machine-confirm-body-header
{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-machine-confirm-body
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4vh 0;
}

.set-machine-confirm-body-left,
.set-machine-confirm-body-right
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
}

.set-machine-confirm-body-left
{
    align-items: flex-end;
}

.set-machine-confirm-body-left p
{
    font-weight: bold;
}

.set-machine-confirm-body-right
{
    align-items: flex-start;
}

.edit-machine-body
{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.edit-machine-item-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 33%;
}

.edit-machine-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.edit-machine-item
{
    width: 80%;
}

@layer primeng
{
    :host ::ng-deep .p-dropdown
    {
        width: 100%;
    }
}
