<div class="main-container">
  <div class="left-container">
    <div class="left-container-header">
      <h1 class="left-container-header-text">{{"studentsAdministrationPage.leftContainer.header"|translate}}</h1>
    </div>
    <div class="left-container-content-container-main">
      <div class="left-container-content-container">
        <div
          *ngFor="let request of registerRequests"
          class="left-container-register-request"
        >
          <div class="request-details">
            <div class="request-details-name">
              {{ request.firstName + " " + request.lastName }}
            </div>
            <div class="request-details-date">
              {{ request.createdOn }}
            </div>
          </div>
          <div class="request-actions">
            <button
              class="request-actions-details-button"
              mat-button
              (click)="openRegisterRequestDialog(request)"
            >
              <mat-icon>info</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="right-container-header">
      <div class="right-container-header-title">
        <h1 class="right-container-header-title-text">{{"studentsAdministrationPage.rightContainer.header"|translate}}</h1>
      </div>
      <div class="right-container-header-search">
        <mat-form-field appearance="outline">
          <mat-label>{{"studentsAdministrationPage.rightContainer.search"|translate}}</mat-label>
          <input matInput placeholder="{{'studentsAdministrationPage.rightContainer.search.placeholder'|translate}}" (keyup)="applyFilter($event)"/>
          <mat-icon matSuffix class="right-container-header-search-icon"
            >search</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="right-container-content">
      <div class="right-container-content-wrapper">
        <table
          mat-table
          [dataSource]="dataSource"
          class="right-container-content-table"
        >
          <ng-container matColumnDef="First name">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.firstName"|translate}}</th>
            <td mat-cell class="student-table-cell-content"  *matCellDef="let element">{{ element.firstName }}</td>
          </ng-container>

          <ng-container matColumnDef="Last name">
            <th mat-header-cell class="students-table-header"*matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.lastName"|translate}}</th>
            <td mat-cell class="student-table-cell-content" *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="Email">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.email"|translate}}</th>
            <td mat-cell  class="student-table-cell-content" *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="Dorm name">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.dormName"|translate}}</th>
            <td mat-cell class="student-table-cell-content"  *matCellDef="let element">{{ element.dormName }}</td>
          </ng-container>

          <ng-container matColumnDef="Room number">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.roomNumber"|translate}}</th>
            <td mat-cell class="student-table-cell-content" *matCellDef="let element">{{ element.roomNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="Matriculation number">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.matriculationNumber"|translate}}</th>
            <td mat-cell class="student-table-cell-content" *matCellDef="let element">
              {{ element.matriculationNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Phone number">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.phoneNumber"|translate}}</th>
            <td mat-cell class="student-table-cell-content" *matCellDef="let element">
              {{ element.phoneNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th class="students-table-header" mat-header-cell *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.edit"|translate}}</th>
            <td mat-cell class="student-table-cell-content" *matCellDef="let element">
              <button  (click)="openEditRoomNumberDialog(element)" mat-button class="student-table-edit-button">
                <mat-icon class="student-table-edit-button-icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="Remove">
            <th mat-header-cell class="students-table-header" *matHeaderCellDef>{{"studentsAdministrationPage.rightContainer.table.header.delete"|translate}}</th>
            <td mat-cell class="student-table-cell-content" *matCellDef="let element">
              <button (click)="openRemoveStudentFromDormDialog(element)" mat-button class="student-table-remove-button">
                <mat-icon class="student-table-remove-button-icon">delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          class="right-container-content-paginator"
          [pageSize]="8"
          showFirstLastButtons
          aria-label="Select page of students"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
