<div class="laundry-appointments-main-container">
    <div class="laundry-appointments-form-container">
        <div class="laundry-appointments-form-header">
            <h1 class="laundry-appiontments-form-header-content">
                Laundry Appointment
            </h1>
        </div>
        <form
            [formGroup]="laundryAppointmentForm"
            class="laundry-appointments-form-content">
            <div class="laundry-appointments-form-content-left">
                <div class="laundry-appointments-form-content-left-days">
                    <mat-tab-group [selectedIndex]="currentDay"
                                (selectedIndexChange)="selectedDay.setValue($event); updateIntervals();">
                        @for (tab of tabs; track tab; let index = $index) {
                            <mat-tab [label]="tab" [disabled]="index < currentDay">
                            </mat-tab>
                        }
                    </mat-tab-group>
                </div>

                <mat-form-field class="laundry-appointments-select-machine">
                    <mat-label>Choose a washing machine</mat-label>
                    <mat-select
                        (selectionChange)="updateIntervals()"
                        formControlName="selectedMachineId">
                        <ng-container
                            *ngFor="let machine of machines">
                            <mat-option
                                [value]="machine.washingMachine.id"
                                [disabled]="!machine.washingMachine.isAvailable">
                                {{machine.washingMachine.name}}{{!machine.washingMachine.isAvailable ? ' (not working)' : ''}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="laundry-appointments-select-dryer">
                    <mat-label>Associated dryer</mat-label>
                    <input [readonly]="true"  matInput [value]="selectedMachines?.dryer?.name">
                </mat-form-field>
            </div>
            <div class="laundry-appointments-form-content-right">
                <div class="laundry-appointments-form-content-intervals-container">
                    <div class="laundry-appointments-form-content-intervals-header">
                        <h1 class="laundry-appointments-form-content-intervals-header-content">
                            {{ getSelectedDayName() }}
                        </h1>
                    </div>
                    <div class="laundry-appointments-form-content-intervals-container-content">
                        <div
                            *ngFor="let interval of intervals"
                            [ngClass]="{'available-interval': isIntervalAvailable(interval), 'unavailable-interval': !isIntervalAvailable(interval), 'selected-interval': isIntervalSelected(interval)}"
                            (click)="selectInterval(interval)"
                            class="laundry-appointments-form-content-interval">
                            <h2 class="laundry-appointments-form-content-interval-text">
                                {{ interval }}:00
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="laundry-appointments-form-footer">
            <button
                mat-raised-button
                (click)="makeAppointment()"
                class="laundry-appointments-form-submit-button">
                Make an appointment
            </button>
        </div>
    </div>
</div>