<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="confirm-dialog-header">
            <div class="confirm-dialog-icon-container">
                <i class="pi pi-question confirm-dialog-icon text-5xl"></i>
            </div>
            <span class="confirm-dialog-header-message">
                {{ message.header }}
            </span>
            <p class="confirm-dialog-message mb-0">{{ message.message }}</p>
            <div class="confirm-dialog-buttons flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    severity="danger"
                    label="Delete" 
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="Cancel" 
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
<p-dialog header='{{"allDorms.AddDormTitle"|translate}}' [modal]="true" [(visible)]="isAddNewDormDialogVisible" [style]="{ width: '25rem' }">
    <form class="add-new-dorm-body" [formGroup]="addNewDormForm">
        <p-floatLabel class="add-new-dorm-form-element">
            <input class="add-new-dorm-form-input-element" pInputText id="name" formControlName="name" [ngClass]="{'ng-dirty': addNewFormNameRequiredError, 'ng-invalid': addNewFormNameRequiredError}" />
            <label for="name">{{"allDorms.AddDormdormName"|translate}}</label>
        </p-floatLabel>
        <p-floatLabel class="add-new-dorm-form-element">
            <input 
                class="add-new-dorm-form-input-element"
                pInputText
                id="address"
                formControlName="address"
                [ngClass]="{'ng-dirty': addNewFormAddressRequiredError, 'ng-invalid': addNewFormAddressRequiredError}" />
            <label for="address">{{"allDorms.AddDormdormAddress"|translate}}</label>
        </p-floatLabel>
        <p-dropdown 
            class="add-new-dorm-form-element"
            [overlayOptions]="getOverlayOptions()"
            [options]="availableAdministrators.concat(defaultAvailableAdministrators)"
            formControlName="administratorEmail"
            placeholder='{{"allDorms.AddDormSelectDormAdministrator"|translate}}'
            optionLabel="name"
            optionValue="email" />
    </form>
    <div class="add-new-dorm-buttons">
        <p-button label="{{'allDorms.AddDormCancelButton'|translate}}" severity="secondary" (click)="isAddNewDormDialogVisible = false" />
        <p-button label="{{'allDorms.AddDormSaveButton'|translate}}" severity="info" (click)="submitAddNewDormForm()" />
    </div>
</p-dialog>
<div class="all-dorms-page-main-container">
    <div class="all-dorms-table-container">
        <p-table
            #dt2
            editMode="row"
            [value]="dorms"
            dataKey="name"
            [rows]="4"
            [loading]="loading"
            [paginator]="true"
            [globalFilterFields]="['name', 'administratorEmail', 'address']"
            [tableStyle]="{ 'min-width': '75rem' }"
        >
            <ng-template pTemplate="caption">
                <div class="all-dorms-table-caption">
                 {{"allDorms.Title"|translate}}
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input 
                                #inputF
                                pInputText 
                                type="text" 
                                (input)="dt2.filterGlobal(inputF.value, 'contains')" 
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                    <p-button icon="pi pi-plus" severity="success" (click)="isAddNewDormDialogVisible = true"/>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:30%">{{"allDorms.DormName"|translate}}</th>
                    <th style="width:30%">{{"allDorms.DormAddress"|translate}}</th>
                    <th style="width:30%">{{"allDorms.DormAdministrator"|translate}}</th>
                    <th style="width:10%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dorm let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="dorm">
                    <td>
                        {{ dorm.name }}
                    </td>
                    <td>
                        {{ dorm.address }}
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                    [overlayOptions]="getOverlayOptions()"
                                    [options]="getAvailableAdministratorsForEditingDorm(dorm)" 
                                    placeholder='{{"allDorms.AddDormSelectDormAdministrator"|translate}}'
                                    optionLabel="name"
                                    optionValue="email"
                                    [(ngModel)]="editDormNewAdministratorEmail"
                                    virtualScroll="true"
                                    />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ dorm.administratorName }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <button
                            *ngIf="!editing"
                            pButton 
                            pRipple 
                            type="button" 
                            pInitEditableRow
                            (click)="editDorm(dorm)"
                            icon="pi pi-pencil" 
                            class="p-button-rounded p-button-text">
                        </button>
                        <button
                            *ngIf="!editing"
                            pButton 
                            pRipple 
                            type="button" 
                            (click)="deleteDorm(dorm)"
                            severity="danger"
                            icon="pi pi-trash" 
                            class="p-button-rounded p-button-text">
                        </button>
                        <button 
                            *ngIf="editing" 
                            pButton 
                            pRipple 
                            type="button" 
                            pSaveEditableRow 
                            (click)="saveEditedDorm(dorm)"
                            icon="pi pi-check" 
                            class="p-button-rounded p-button-text p-button-success mr-2">
                        </button>
                        <button 
                            *ngIf="editing" 
                            pButton pRipple 
                            type="button" 
                            pCancelEditableRow 
                            icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>