<p-toast position="top-center"></p-toast>
<div *ngIf="isLoadingOverlayVisible" class="loading-overlay">
  <p-progressSpinner ariaLabel="loading" />
</div>
<div class="login-page-main-container">
  <div class="login-page-login-container">
    <div class="left-container" [ngClass]="{ 'mobile-hide': !showLogin}">
      <div class="left-container-header">
        <h1 class="left-container-header-content">{{ 'aunthentication.login.header' | translate }}</h1>
      </div>

      <div class="left-container-content">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onLogin()"
          class="form-container"
        >
          <div class="form-inputs">
            <mat-form-field class="form-container-input" appearance="fill">
              <mat-label>{{ 'aunthentication.login.emailLabel' | translate }}</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="{{ 'aunthentication.login.emailPlaceholder' | translate }}"
              />
              <mat-error
                *ngIf="
                  loginEmail?.invalid &&
                  (loginEmail?.dirty || loginEmail?.touched)
                "
              >
                <span *ngIf="loginEmail?.errors?.['required']"
                  >{{ 'aunthentication.login.emailRequiredError' | translate }}</span
                >
                <span *ngIf="loginEmail?.errors?.['email']"
                  >{{ 'aunthentication.login.emailInvalidError' | translate }}</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-container-input" appearance="fill">
              <mat-label>{{ "aunthentication.login.passwordLabel" | translate }}</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
                placeholder="{{ 'aunthentication.login.passwordPlaceHolder' | translate }}"
              />
              <mat-error
                *ngIf="
                  password?.invalid && (password?.dirty || password?.touched)
                "
              >
                {{ "aunthentication.login.passWordRequiredError" | translate }}
              </mat-error>
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button
              class="button-login"
              mat-raised-button
              color="primary"
              type="submit"
            >
              {{ "aunthentication.login.loginButton" | translate }}
            </button>

            <p-button
              label=" {{ 'aunthentication.login.forgotPassword' | translate }}"
              [link]="true"
              (click)="redirectToForgotPassword()">
            </p-button>
          </div>
        </form>
      </div>
      <button
        pButton
        icon="pi pi-chevron-right"
        class="p-button-text p-button-rounded p-button-plain slider-button-media"
        (click)="showLogin = !showLogin"
      >
      </button>
    </div>

    <div class="right-container" [ngClass]="{ 'mobile-hide': showLogin}">
      <div class="right-container-header">
        <h1 class="right-container-header-content">{{"authentication.register.header"|translate}}</h1>
      </div>
      <div class="right-container-content">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()"
          class="register-form-container"
        >
          <div class="form-inputs register-form-inputs">
            <mat-form-field
              class="form-container-input register-form-container-input"
              appearance="fill"
            >
              <mat-label>{{"authentication.register.emailLabel"|translate}}</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="{{'authentication.register.emailPlaceholder'|translate}}"
              />
              <mat-error
                *ngIf="
                  registerEmail?.invalid &&
                  (registerEmail?.dirty || registerEmail?.touched)
                "
              >
                <span *ngIf="registerEmail?.errors?.['required']"
                  >{{"authentication.register.emailRequiredError"|translate}}</span
                >
                <span *ngIf="registerEmail?.errors?.['email']"
                  >{{"authentication.register.emailInvalidError"|translate}}</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="form-container-input register-form-container-input"
              appearance="fill"
            >
              <mat-label>{{"authentication.register.firstNameLabel"|translate}}</mat-label>
              <input
                matInput
                formControlName="firstName"
                placeholder="{{'authentication.register.firstNamePlaceholder'|translate}}"
              />
              <mat-error
                *ngIf="
                  firstName?.invalid && (firstName?.dirty || firstName?.touched)
                "
              >
                <span *ngIf="firstName?.errors?.['required']"
                  >{{"authentication.register.firstNameRequiredError"|translate}}</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="form-container-input register-form-container-input"
              appearance="fill"
            >
              <mat-label>{{"authentication.register.lastNameLabel"|translate}}</mat-label>
              <input
                matInput
                formControlName="lastName"
                placeholder="{{'authentication.register.lastNamePlaceholder'|translate}}"
              />
              <mat-error
                *ngIf="
                  lastName?.invalid && (lastName?.dirty || lastName?.touched)
                "
              >
                <span *ngIf="lastName?.errors?.['required']"
                  >{{"authentication.register.lastNameRequiredError"|translate}}</span
                >
              </mat-error>
            </mat-form-field>

            <div class="register-form-combined-inputs">
              <mat-form-field
                class="form-container-input form-container-combined-input register-form-container-input"
                appearance="fill"
              >
                <mat-label>{{"authentication.register.dormNameLabel"|translate}}</mat-label>
                <mat-select
                  (selectionChange)="onDormSelected()"
                  formControlName="dormName"
                >
                  <mat-option
                    *ngFor="let dormName of dormsNames"
                    [value]="dormName"
                    >{{ dormName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="form-container-input form-container-combined-input register-form-container-input"
                appearance="fill"
              >
                <mat-label>{{"authentication.register.roomLabel"|translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="roomNumber"
                  placeholder="{{'authentication.register.roomPlaceholder'|translate}}"
                />
                <mat-error
                  *ngIf="
                    roomNumber?.invalid &&
                    (roomNumber?.dirty || roomNumber?.touched)
                  "
                >
                  <span *ngIf="roomNumber?.errors?.['required']"
                    >{{"authentication.register.roomRequiredError"|translate}}</span
                  >
                  <span *ngIf="roomNumber?.errors?.['invalidRoomNumber']"
                    >{{"authentication.register.roomInvalidError"|translate}}</span
                  >
                </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field
              class="form-container-input register-form-container-input"
              appearance="fill"
            >
              <mat-label>{{"authentication.register.matriculationNumberLabel"|translate}}</mat-label>
              <input
                matInput
                formControlName="matriculationNumber"
                placeholder="{{'authentication.register.matriculationNumberPlaceholder'|translate}}"
              />
              <mat-error
                *ngIf="
                  matriculationNumber?.invalid &&
                  (matriculationNumber?.dirty || matriculationNumber?.touched)
                "
              >
                <span *ngIf="matriculationNumber?.errors?.['required']"
                  >{{"authentication.register.matriculationNumberRequiredError"|translate}}</span
                >
                <span *ngIf="matriculationNumber?.errors?.['pattern']"
                  >{{"authentication.register.matriculationNumberInvalidError"|translate}}</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="form-container-input register-form-container-input"
              appearance="fill"
            >
              <mat-label>{{"authentication.register.phoneNumberLabel"|translate}}</mat-label>
              <input
                matInput
                formControlName="phoneNumber"
                placeholder="{{'authentication.register.phoneNumberPlaceholder'|translate}}"
              />
              <mat-error
                *ngIf="
                  phoneNumber?.invalid &&
                  (phoneNumber?.dirty || phoneNumber?.touched)
                "
              >
                <span *ngIf="phoneNumber?.errors?.['required']"
                  >{{"authentication.register.phoneNumberRequiredError"|translate}}</span
                >
                <span *ngIf="phoneNumber?.errors?.['pattern']"
                  >{{"authentication.register.phoneNumberInvalidError"|translate}}</span
                >
                <span *ngIg="isPhoneNumberTaken"
                  >{{"authentication.register.phoneNumberTaken"|translate}}</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="register-form-actions">
            <button
              class="button-login"
              mat-raised-button
              color="primary"
              type="submit"
            >
              {{"authentication.register.registerButton"|translate}}
            </button>
          </div>
        </form>
      </div>
      <button
        pButton
        icon="pi pi-chevron-left"
        class="p-button-text p-button-rounded p-button-plain slider-button-media"
        (click)="showLogin = !showLogin"
      >
      </button>
    </div>
    <div
      class="login-panel-slider"
      [ngClass]="{ showLogin: showLogin, showRegister: !showLogin }"
    >
      <div class="login-panel-slider-header"></div>
      <div class="login-panel-slider-content">
        <div class="login-panel-slider-content-text">
          <h1 class="login-panel-slider-text1">
            {{ showLogin ? ("authentication.slider.welcomeLogin"|translate) : ("authentication.slider.welcomeRegister"|translate)}}
          </h1>
          <h1 class="login-panel-slider-text2">
            {{
              showLogin ? ("authentication.slider.registerSuggestion"|translate) : ("authentication.slider.loginSuggestion"|translate)
            }}
          </h1>
        </div>
        <div class="login-panel-slider-content-actions">
          <button
            class="button-sign-up"
            (click)="showLogin = !showLogin"
            mat-raised-button
            color="primary"
            type="submit"
          >
            {{ showLogin ? ("authentication.register.registerButton"|translate) : ("aunthentication.login.loginButton"|translate) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
