<h2 class="change-password-dialog-title">Change Password</h2>
<mat-dialog-content class="mat-typography">
  <div class="change-password-dialog-main-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
      <mat-form-field appearance="fill" class="change-password-input-field">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'"
          placeholder="Enter new password"
          required="true"
        />
        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
          <mat-icon>{{ hideNewPassword ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (changePasswordForm.get('newPassword')?.hasError('minLength') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>Use at least 8 characters.</mat-error>
        } @if (changePasswordForm.get('newPassword')?.hasError('uppercase') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>Use at least 1 uppercase character.</mat-error>
        } @if (changePasswordForm.get('newPassword')?.hasError('lowercase') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>Use at least 1 lowercase character.</mat-error>
        } @if (changePasswordForm.get('newPassword')?.hasError('number') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>Use at least 1 number.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="change-password-input-field">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          required="true"
          formControlName="confirmPassword"
          placeholder="Enter new password"
        />
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (changePasswordForm.get('confirmPassword')?.hasError('mismatch') &&
        changePasswordForm.get('confirmPassword')?.touched) {
        <mat-error>Passwords should match.</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="onChangePassword()"
    class="change-password-submit-button"
    [disabled]="changePasswordForm.invalid">
    Save
  </button>
</mat-dialog-actions>
