<h2 class="change-password-dialog-title">{{"dialog.changePassword.title1"|translate}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="change-password-dialog-main-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
      <mat-form-field appearance="fill" class="change-password-input-field">
        <mat-label>{{"dialog.changePassword.title"|translate}}</mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'"
          placeholder="{{'dialog.changePassword.placeholder'|translate}}"
          required="true"
        />
        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
          <mat-icon>{{ hideNewPassword ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (changePasswordForm.get('newPassword')?.hasError('minLength') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>{{"dialog.changePassword.condition1"|translate}}</mat-error>
        } @if (changePasswordForm.get('newPassword')?.hasError('uppercase') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>{{"dialog.changePassword.condition2"|translate}}</mat-error>
        } @if (changePasswordForm.get('newPassword')?.hasError('lowercase') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>{{"dialog.changePassword.condition3"|translate}}</mat-error>
        } @if (changePasswordForm.get('newPassword')?.hasError('number') &&
        changePasswordForm.get('newPassword')?.touched) {
        <mat-error>{{"dialog.changePassword.condition4"|translate}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="change-password-input-field">
        <mat-label>{{"dialog.changePassword.confirm"|translate}}</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          required="true"
          formControlName="confirmPassword"
          placeholder="{{'dialog.changePassword.placeholder'|translate}}"
        />
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (changePasswordForm.get('confirmPassword')?.hasError('mismatch') &&
        changePasswordForm.get('confirmPassword')?.touched) {
        <mat-error>{{"dialog.changePassword.matchError"|translate}}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="onChangePassword()"
    class="change-password-submit-button"
    [disabled]="changePasswordForm.invalid">
   {{"dialog.saveButton"|translate}}
  </button>
</mat-dialog-actions>
