<div class="application-administrator-details-container">
    <div class="application-administrator-details-container-header">
      <div class="details-header">Application Administrator</div>
    </div>
    <div class="application-administrator-details-body">
      <div class="detail-item">
        <span class="label">Email: </span>
        <span class="value">{{ displayApplicationAdministratorDetails?.email }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Phone Number: </span>
        <span class="value">{{
         displayApplicationAdministratorDetails?.phoneNumber
        }}</span>
      </div>
    </div>
  </div>
  