@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.navbar-container
{
    background-color: rgb(46, 113, 184);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
}

.navbar-container *
{
    margin: 0 1vw;
}

.navbar-logo
{
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    color: rgb(228, 172, 34);
    font-size: 1.7rem;
}

.navbar-button
{
    color: white !important;
}

.navbar-button:hover
{
    background-color: rgb(60, 142, 230) !important;
}

