<h2 class="edit-phone-number-dialog-title">{{"dialog.changePhoneNumber.title"|translate}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="edit-phone-number-dialog-main-container">
    <form [formGroup]="editPhoneNumberForm" (ngSubmit)="onEditPhoneNumber()">
      <mat-form-field appearance="fill">
        <mat-label>{{"dialog.changePhoneNumber.titlelabel"|translate}}</mat-label>
        <input
          matInput
          type="tel"
          formControlName="phoneNumber"
          placeholder="{{'dialog.changePhoneNumber.placeholder'|translate}}"
          pattern="[0-9]*"
        />
        <mat-error
          *ngIf="
            phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)
          "
        >
          <span *ngIf="phoneNumber?.errors?.['required']">
            {{"dialog.changePhoneNumber.condition"|translate}}
          </span>
          <span *ngIf="phoneNumber?.errors?.['pattern']">
          {{"dialog.changePhoneNumber.matchError"|translate}}
          </span>
          <span *ngIf="phoneNumber?.errors?.['phoneNumberExists']">
            {{"dialog.changePhoneNumber.phoneNumberTaken"|translate}}
          </span>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="onEditPhoneNumber()"
    class="edit-phone-submit-button"
  >
  {{"dialog.changePhoneNumber.saveButton"|translate}}
  </button>
</mat-dialog-actions>
