<p-sidebar [(visible)]="isSideBarVisible" position="left" class="sidebar">
  <ng-template pTemplate="header">
    <div class="sidebar-header">
      <img src="assets/logo.png" alt="uvt-logo" class="uvt-logo" />
      <h1 class="sidebar-logo-text">Dorms</h1>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="sidebar-content">
      <button
        pButton
        routerLink="/laundry-appointments"
        routerLinkActive="active"
        class="navbar-button-mobile"
        icon="pi pi-calendar"
        *ngIf="isStudent()"
      >
      {{"navbar.appointments" | translate}}
      </button>

      <button
        pButton
        routerLink="/tickets"
        routerLinkActive="active"
        class="navbar-button-mobile"
        icon=" pi pi-exclamation-triangle"
        *ngIf="isStudent()"
      >
        {{ "navbar.tickets" | translate }}
      </button>
      <button
        pButton
        routerLink="/eveniments"
        routerLinkActive="active"
        class="navbar-button-mobile"
        *ngIf="isStudent() || isDormAdmistrator()"
      >
        <mat-icon>event</mat-icon>
       {{ "navbar.events" | translate }}
      </button>

      <button
        pButton
        routerLink="/rooms-administration"
        routerLinkActive="active"
        class="navbar-button-mobile"
        *ngIf="isDormAdmistrator()"
      >
        <mat-icon> hotel</mat-icon>
       {{ "navbar.rooms" | translate }}
      </button>
      <button
        pButton
        routerLink="/dorm-machines-administration"
        routerLinkActive="active"
        class="navbar-button-mobile"
        *ngIf="isDormAdmistrator()"
      >
        <mat-icon> local_laundry_service</mat-icon>
{{ "navbar.machines" | translate  }}
      </button>
      <button
        pButton
        routerLink="/students-administration"
        routerLinkActive="active"
        class="navbar-button-mobile"
        icon=" pi pi-users"
        *ngIf="isDormAdmistrator()"
      >
       {{ "navbar.students" | translate }}
      </button>
      <button
        pButton
        routerLink="/tickets-administration"
        routerLinkActive="active"
        class="navbar-button-mobile"
        *ngIf="isDormAdmistrator()"
        icon="pi pi-exclamation-triangle"
      >
        {{ "navbar.tickets" | translate }}
      </button>
      <button
        pButton
        routerLink="/dorms-administration"
        routerLinkActive="active"
        class="navbar-button-mobile"
        *ngIf="isAppAdministrator()"
      >
        <mat-icon> business</mat-icon>
        {{ "navbar.dorms" | translate }}
      </button>
      <button
        pButton
        routerLink="/dorm-administrators"
        routerLinkActive="active"
        class="navbar-button-mobile"
        *ngIf="isAppAdministrator()"
      >
        <mat-icon> group_add </mat-icon>
       {{ "navbar.dormsAdministrators" | translate }}
      </button>
    </div>
  </ng-template>
</p-sidebar>

<mat-toolbar class="navbar-container">
  <div class="left-wing">
    <img src="assets/logo.png" alt="uvt-logo" class="uvt-logo" />
    <h1 class="navbar-logo-text">{{"navbar.dorms"|translate}}</h1>
  </div>
  <div class="center">
    <button
      pButton
      pRipple
      icon="pi pi-bars"
      class="p-button-rounded p-button-text navbar-button-mobile"
      (click)="isSideBarVisible = !isSideBarVisible"
    ></button>
    <button
      routerLink="/laundry-appointments"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isStudent()"
    >
    {{"navbar.appointments" | translate}}
    </button>

    <button
      routerLink="/tickets"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isStudent()"
    >
     {{ "navbar.tickets" | translate }}
    </button>
    <button
      routerLink="/eveniments"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isStudent() || isDormAdmistrator()"
    >
     {{ "navbar.events" | translate }}
    </button>
    <button
      routerLink="/rooms-administration"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isDormAdmistrator()"
    >
    {{ "navbar.rooms" | translate }}
    </button>
    <button
      routerLink="/dorm-machines-administration"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isDormAdmistrator()"
    >
    {{ "navbar.machines" | translate  }}
    </button>
    <button
      routerLink="/students-administration"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isDormAdmistrator()"
    >
      {{ "navbar.students" | translate }}
    </button>
    <button
      routerLink="/tickets-administration"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isDormAdmistrator()"
    >
     {{ "navbar.tickets" | translate }}
    </button>
    <button
      routerLink="/dorms-administration"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isAppAdministrator()"
    >
      {{ "navbar.dorms" | translate }}
    </button>
    <button
      routerLink="/dorm-administrators"
      routerLinkActive="active"
      class="navbar-button"
      *ngIf="isAppAdministrator()"
    >
      {{ "navbar.dormsAdministrator" | translate }}
    </button>
  </div>
  <div class="right-wing">
    <button
      class="flag"
      [ngClass]="{'flag-ro': isRoSelected, 'flag-en': isEnSelected}"
      (click)="changeLanguage()"
    >
    <span class="flag-ro"></span>
    <!-- Change language -->
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="role() != null">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="dropdown-button" routerLink="/profile">
        <mat-icon>dashboard</mat-icon>
        <span>{{"navbar.profile"|translate}}</span>
      </button>
      <button mat-menu-item class="dropdown-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{"navbar.logout"|translate}}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
