<mat-toolbar class="navbar-container">
    <div class="left-wing">
        <img src="../../../assets/logo.png" alt="uvt-logo" class="uvt-logo">
       
        <h1
            class="navbar-logo-text">
           Dorms
        </h1>
    </div>
    <div class="center">
        <button routerLink="/home" routerLinkActive="active" class="navbar-button">
            Home
        </button>
        <button routerLink="/laundry-appointments" routerLinkActive="active" class="navbar-button">
            Appointments
        </button> 

    </div>
    <div class="right-wing">

    </div>
</mat-toolbar>
