<app-loading-screen *ngIf="loading"></app-loading-screen>
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="confirm-dialog-header">
            <div class="confirm-dialog-icon-container">
                <i class="pi pi-question confirm-dialog-icon text-5xl"></i>
            </div>
            <span class="confirm-dialog-header-message">
                {{ message.header }}
            </span>
            <p class="confirm-dialog-message mb-0">{{ message.message }}</p>
            <div class="confirm-dialog-buttons flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    severity="danger"
                    label="{{'dormAdministrators.AllDorms.DeleteDormAdministratorButton'|translate}}" 
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="{{'dormAdministrators.AddDormAdministrator.CancelButton'|translate}}" 
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
<p-dialog header="{{'dormAdministrators.AddDormAdministrator.Title'|translate}}"[modal]="true" [(visible)]="isAddNewDormAdministratorDialogVisible" [style]="{ width: '25rem' }">
    <form class="add-new-dorm-body" [formGroup]="addNewDormAdministratorForm">
        <p-floatLabel class="add-new-dorm-form-element">
            <input 
                class="add-new-dorm-form-input-element"
                pInputText
                id="firstName"
                formControlName="firstName"
                [ngClass]="{'ng-dirty': hasFirstNameError, 'ng-invalid': hasFirstNameError}" />
            <label for="firstName">{{"dormAdministrators.AddDormAdministrator.FirstName"|translate}}</label>
        </p-floatLabel>
        <p-floatLabel class="add-new-dorm-form-element">
            <input 
                class="add-new-dorm-form-input-element"
                pInputText
                id="lastName"
                formControlName="lastName"
                [ngClass]="{'ng-dirty': hasLastNameError, 'ng-invalid': hasLastNameError}" />
            <label for="lastName">{{"dormAdministrators.AddDormAdministrator.LastName"|translate}}</label>
        </p-floatLabel>
        <p-floatLabel class="add-new-dorm-form-element">
            <input 
                class="add-new-dorm-form-input-element"
                pInputText
                id="phoneNumber"
                formControlName="phoneNumber"
                [ngClass]="{'ng-dirty': hasPhoneNumberError, 'ng-invalid': hasPhoneNumberError}" />
            <label for="phoneNumber">{{"dormAdministrators.AddDormAdministrator.PhoneNumber"|translate}}</label>
        </p-floatLabel>
        <p-floatLabel class="add-new-dorm-form-element">
            <input 
                class="add-new-dorm-form-input-element"
                pInputText
                id="email"
                formControlName="email"
                type="email"
                [ngClass]="{'ng-dirty': hasEmailError, 'ng-invalid': hasEmailError}" />
            <label for="email">{{"dormAdministrators.AddDormAdministrator.Email"|translate}}</label>
        </p-floatLabel>
        <p-dropdown
            [overlayOptions]="getOverlayOptions()"
            class="add-new-dorm-form-element"
            [options]="availableDorms.concat(defaultAvailableDorm)"
            formControlName="dormId"
            placeholder="{{'dormAdministrators.AddDormAdministrator.SelectDormPlaceholder'|translate}}"
            optionLabel="dormName"
            optionValue="id" />
    </form>
    <div class="add-new-dorm-buttons">
        <p-button label="{{'dormAdministrators.AddDormAdministrator.CancelButton'|translate}}" severity="secondary" (click)="isAddNewDormAdministratorDialogVisible = false" />
        <p-button label="{{'dormAdministrators.AddDormAdministrator.SaveButton'|translate}}" severity="info" (click)="submitNewDormAdministratorForm()" />
    </div>
</p-dialog>
<div class="all-dorms-page-main-container">
    <div class="all-dorms-table-container">
        <p-table
            #dt2
            editMode="row"
            [value]="dormAdministrators"
            dataKey="name"
            [rows]="4"
            [loading]="loading"
            [paginator]="true"
            [globalFilterFields]="['name', 'email', 'phoneNumber', 'dormName']"
            [tableStyle]="{ 'min-width': '75rem' }"
        >
            <ng-template pTemplate="caption">
                <div class="all-dorms-table-caption">
                   {{"dormAdministrators.AllDormsTitle"|translate}}
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input 
                                #inputF
                                pInputText 
                                type="text" 
                                (input)="dt2.filterGlobal(inputF.value, 'contains')" 
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                    <p-button icon="pi pi-plus" severity="success" (click)="isAddNewDormAdministratorDialogVisible = true"/>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:22%">{{"dormAdministrators.AllDorms.Name"|translate}}</th>
                    <th style="width:22%">{{"dormAdministrators.AllDorms.Email"|translate}}</th>
                    <th style="width:22%">{{"dormAdministrators.AllDorms.PhoneNumber"|translate}}</th>
                    <th style="width:22%">{{"dormAdministrators.AllDorms.Dorm"|translate}}</th>
                    <th style="width:12%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dormAdministrator let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="dormAdministrator">
                    <td>
                        {{ dormAdministrator.name }}
                    </td>
                    <td>
                        {{ dormAdministrator.email }}
                    </td>
                    <td>
                        {{ dormAdministrator.phoneNumber }}
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                    [options]="getAvailableDormsForEditingAdministrator(dormAdministrator)" 
                                    placeholder="{{'dormAdministrators.AllDorms.SelectDorm'|translate}}"
                                    optionLabel="dormName"
                                    optionValue="id"
                                    [overlayOptions]="getOverlayOptions()"
                                    [(ngModel)]="editDormAdministratorNewDormId"
                                    virtualScroll="true"
                                    />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ dormAdministrator.dormName }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <button
                            *ngIf="!editing"
                            pButton 
                            pRipple 
                            type="button" 
                            pInitEditableRow
                            (click)="editDormAdministrator(dormAdministrator)"
                            icon="pi pi-pencil" 
                            class="p-button-rounded p-button-text">
                        </button>
                        <button
                            *ngIf="!editing"
                            pButton 
                            pRipple 
                            type="button" 
                            (click)="deleteDormAdministrator(dormAdministrator)"
                            severity="danger"
                            icon="pi pi-trash" 
                            class="p-button-rounded p-button-text">
                        </button>
                        <button 
                            *ngIf="editing" 
                            pButton 
                            pRipple 
                            type="button" 
                            pSaveEditableRow 
                            (click)="saveEditedDormAdministrator(dormAdministrator)"
                            icon="pi pi-check" 
                            class="p-button-rounded p-button-text p-button-success mr-2">
                        </button>
                        <button 
                            *ngIf="editing" 
                            pButton pRipple 
                            type="button" 
                            pCancelEditableRow 
                            icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>