<app-loading-screen *ngIf="loadigScreen"></app-loading-screen>
<div class="tickets-main-container">
  <div class="tickets-form-container">
    <div class="tickets-form-header">
      <h1 class="tickets-form-header-content">
        Tickets
      </h1>
    </div>
    <p-toast position="top-center"></p-toast>
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="confirmation-popup-body p-5 surface-overlay">
                <div class="confirmation-popup-body-header -mt-8">
                    <i class="pi pi-question text-5xl"></i>
                </div>
                <span class="confirmation-popup-body-message-header">{{ message.header }}</span>
                <p class="confirmation-popup-body-message">{{ message.message }}</p>
                <div class="confirmation-popup-body-buttons flex align-items-center gap-2 mt-4">
                    <button pButton label="Save" (click)="cd.accept()" class="w-8rem"></button>
                    <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
    <form
      [formGroup]="ticketForm"
      (ngSubmit)="onSubmitTicket()"
      class="tickets-form-content"
    >
      <div class="p-fluid">
        <div class="p-field">
          <label for="title" class="tickets-form-label">Title</label>
          <input
            id="title"
            type="text"
            pInputText
            formControlName="title"
            placeholder="Enter title"
          />
          <div
            *ngIf="title?.invalid && (title?.dirty || title?.touched)"
            class="p-error"
          >
            <small *ngIf="title?.errors?.['required']"
              >Title is required.</small
            >
          </div>
        </div>

        <div class="p-field">
          <label for="description" class="tickets-form-label">Description</label>
          <p-editor formControlName="description" [style]="{ height: '220px', width: '50vw'}">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
            </ng-template>
        </p-editor>
          <div
            *ngIf="
              description?.invalid &&
              (description?.dirty || description?.touched)
            "
            class="p-error"
          >
            <small *ngIf="description?.errors?.['required']"
              >Description is required.</small
            >
          </div>
        </div>

        <div class="p-field">
          <label for="category" class="tickets-form-label">Intervention type</label>
          <p-dropdown
            id="category"
            [options]="categories"
            formControlName="tipInterventie"
            placeholder="Select a category"
          ></p-dropdown>
        </div>

        <div class="p-field-checkbox">
          <p-checkbox
            binary="true"
            formControlName="reportedBefore"
            id="reportedBefore"
          ></p-checkbox>
          <label for="reportedBefore"  class="tickets-form-label tickets-form-checkbox-label"
            > Has the issue been reported before?</label
          >
        </div>
      </div>
    </form>
    <div class="tickets-form-footer">
      <button
        (click)="onSubmitTicket()"
        pButton
        type="submit"
        label="Submit"
        class="tickets-actions-submit"
      ></button>
    </div>
  </div>
</div>
