.tickets-main-container {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tickets-form-container {
  width: 65%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.tickets-form-header,
.tickets-form-footer {
  width: 100%;
  height: 12%;
}

.tickets-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2vw;
}

.tickets-form-header-content {
  margin: 0 !important;
  color: var(--uvt-blue);
  font-weight: 500;
  font-size: 3vh;
}

.tickets-form-content {
  width: 100%;
  height: 76%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-fluid
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p-field {
  margin-bottom: 20px;
  width: 70%;
}

.editor
{
  width: 100%;
  height: 100%;

}

.tickets-actions-submit {
  width: 20vw;
  margin: 2vw 2vw;
  background-color: --uvt-blue;
}

.tickets-actions-cancel {
  background-color: brown;
  width: 20vw;
  margin: 2vw 2vw;
}

.tickets-form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tickets-form-label {
  font-size: 1vw;
  font-weight: 400;
  color: rgb(41, 41, 48);
}

.tickets-form-checkbox-label {
  margin-left: 0.5vw;
}

@media (max-width: 600px) {
  .tickets-form-container {
    width: 90%;
    height: 90%;
  }

  .tickets-form-label {
    font-size: 1rem;
  }

  .tickets-actions-submit {
    width: 40vw;
  }
}
