<div class="profile-page-main-container">
  <div
    class="profile-page-general-details-container profile-page-inside-containers"
  >
    <div
      class="profile-page-general-details-item profile-page-profile-picture-container"
    ></div>
    <div class="profile-page-general-details-item profile-page-name-container">
      <p>{{ user?.firstName }} {{ user?.lastName }}</p>
    </div>
    <div
      class="profile-page-general-details-item profile-page-other-details-container"
    >
      <div>
        <p>Phone number: {{ user?.phoneNumber }}</p>
      </div>
    </div>
    <div
      class="profile-page-general-details-item profile-page-settings-button-container"
    >
      <button mat-button>Settings</button>
    </div>
  </div>
  <div class="profile-page-tabs-conatiner profile-page-inside-containers">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab class="profile-page-tab"
        ><ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">hourglass_empty</mat-icon>
          Register requests
        </ng-template>
        <p-table
          [value]="registerRequests"
          [tableStyle]="{ 'min-width': '100%' }"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} requests"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="userRegisterRequestsCell">
                  Request creation date
                </div>
              </th>
              <th><div class="userRegisterRequestsCell">Dormitory</div></th>
              <th><div class="userRegisterRequestsCell">Room</div></th>
              <th><div class="userRegisterRequestsCell">Contact</div></th>
              <th><div class="userRegisterRequestsCell">Status</div></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-request>
            <tr>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.createdOn.join("-") }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.dormitoryName }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.roomNumber }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.administratorContact }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  <p-tag
                    [value]="request.status"
                    [severity]="getRequestStatusSeverity(request.status)"
                  ></p-tag>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              icon="pi pi-plus"
              styleClass="p-button-text"
              (click)="showRegisterRequestDialog()"
            ></p-button>
          </ng-template>
        </p-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">calendar_today</mat-icon>
          My laundry appointments
        </ng-template>
        <!-- Content 2 -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
