<app-loading-screen *ngIf="isLoadingScreenVisible"></app-loading-screen>
<p-toast></p-toast>
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="confirm-dialog-header">
      <div class="confirm-dialog-icon-container">
        <i class="pi pi-question confirm-dialog-icon text-5xl"></i>
      </div>
      <span class="confirm-dialog-header-message">
        {{ message.header }}
      </span>
      <p class="confirm-dialog-message mb-0">{{ message.message }}</p>
      <div class="confirm-dialog-buttons flex align-items-center gap-2 mt-4">
        <button
          pButton
          severity="danger"
          label="Delete"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Cancel"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-dialog
  header=""
  [(visible)]="isCreateEvenimentDialogVisible"
  modal="true"
  [style]="{
    width: isMobileScreen ? '100vw' : '60vw',
    height: '90vh',
    '@media (max-width: 600px)': '100vw !important'
  }"
>
  <div class="new-eveniment-header">
    <h1>{{ "profile.eventsCreate" | translate }}</h1>
  </div>
  <form class="new-eveniment-form" [formGroup]="newEvenimentForm">
    <p-floatLabel class="new-eveniment-form-label">
      <input
        formControlName="title"
        id="title"
        type="text"
        [ngClass]="{
          'ng-dirty': hasNewEvenimentTitleError,
          'ng-invalid': hasNewEvenimentTitleError
        }"
        pInputText
      />
      <label for="title">{{ "profile.eventsTitleLabel" | translate }}</label>
    </p-floatLabel>
    <label class="new-eveniment-form-editor-label">{{
      "profile.eventsDescriptionLabel" | translate
    }}</label>
    <p-editor
      formControlName="description"
      class="new-eveniment-form-editor"
      [style]="{ height: '200px' }"
    >
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
        </span>
      </ng-template>
    </p-editor>
    <div class="new-eveniment-input-switch-container">
      <p>{{ "profileCanPeopleAttend" | translate }}</p>
      <p-inputSwitch formControlName="canPeopleAttend" />
    </div>
    <label class="new-eveniment-form-calendar-label">{{
      "profile.eventsDateLabel" | translate
    }}</label>
    <p-calendar
      formControlName="startDate"
      class="new-eveniment-form-calendar"
      inputId="calendar-24h"
      [showTime]="true"
      [minDate]="minDate"
      [hourFormat]="'24'"
    />
  </form>
  <div class="new-eveniment-dialog-buttons">
    <button
      pButton
      class="new-eveniment-dialog-button"
      label="{{ 'profile.cancelButton' | translate }}"
      severity="secondary"
      (click)="isCreateEvenimentDialogVisible = false; newEvenimentForm.reset()"
    ></button>
    <button
      pButton
      class="new-eveniment-dialog-button"
      label="{{ 'profile.saveButton' | translate }}"
      severity="info"
      (click)="createEveniment()"
    ></button>
  </div>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="isEditEvenimentDialogVisible"
  modal="true"
  [style]="{ width: '50vw', height: '90vh' }"
>
  <div class="new-eveniment-header">
    <h1>{{ "profile.eventsEdit" | translate }}</h1>
  </div>
  <form class="new-eveniment-form" [formGroup]="editEvenimentForm">
    <p-floatLabel class="new-eveniment-form-label">
      <input
        formControlName="title"
        id="title"
        type="text"
        [ngClass]="{
          'ng-dirty': hasEditEvenimentTitleError,
          'ng-invalid': hasEditEvenimentTitleError
        }"
        pInputText
      />
      <label for="title">{{ "profile.eventsTitleLabel" | translate }}</label>
    </p-floatLabel>
    <label class="new-eveniment-form-editor-label">{{
      "profile.eventsDescriptionLabel" | translate
    }}</label>
    <p-editor
      #editor
      formControlName="description"
      class="new-eveniment-form-editor"
      [style]="{ height: '200px' }"
    >
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
        </span>
      </ng-template>
    </p-editor>
    <div class="new-eveniment-input-switch-container">
      <p>{{ "profileCanPeopleAttend" | translate }}</p>
      <p-inputSwitch formControlName="canPeopleAttend" />
    </div>
    <label class="new-eveniment-form-calendar-label">{{
      "profile.eventsDateLabel" | translate
    }}</label>
    <p-calendar
      formControlName="startDate"
      class="new-eveniment-form-calendar"
      inputId="calendar-24h"
      [showTime]="true"
      [minDate]="minDate"
      [hourFormat]="'24'"
    />
  </form>
  <div class="new-eveniment-dialog-buttons">
    <button
      pButton
      class="new-eveniment-dialog-button"
      label="Cancel"
      severity="secondary"
      (click)="
        isEditEvenimentDialogVisible = false;
        editEvenimentForm.reset();
        editEvenimentDto = undefined
      "
    ></button>
    <button
      pButton
      class="new-eveniment-dialog-button"
      label="Save"
      severity="info"
      (click)="updateEditedEveniment()"
    ></button>
  </div>
</p-dialog>
<div class="profile-page-main-container">
  <div
    class="profile-page-general-details-container profile-page-inside-containers"
  >
    <div
      class="profile-page-general-details-item profile-page-profile-picture-container"
    >
      <div
        class="profil-page-picture-container-hover-effect"
        (click)="fileInput.click()"
      >
        <mat-icon class="profil-page-picture-container-hover-effect-icon"
          >image</mat-icon
        >
      </div>
      <img
        src="data:image/png;base64, {{ user?.profilePicture }}"
        class="profile-page-picture"
      />

      <input
        #fileInput
        type="file"
        (change)="onFilesSelected($event)"
        accept="image/*"
        style="display: none"
      />
    </div>

    <div class="profile-page-general-details-item profile-page-name-container">
      <p>{{ user?.firstName }} {{ user?.lastName }}</p>
    </div>
    <div class="profile-page-other-details-container">
      <app-profile-page-display-student-details
        class="profile-page-other-details-item"
        *ngIf="isStudent()"
      >
      </app-profile-page-display-student-details>

      <app-profile-page-display-dorm-administrator
        class="profile-page-other-details-item"
        *ngIf="isDormAdmin()"
      >
      </app-profile-page-display-dorm-administrator>

      <app-profile-page-display-inactive-student
        class="profile-page-other-details-item"
        *ngIf="isInactivStudent()"
      >
      </app-profile-page-display-inactive-student>

      <app-profile-page-display-application-administrator-details
        class="profile-page-other-details-item"
        *ngIf="isApplicationAdministrator()"
      >
      </app-profile-page-display-application-administrator-details>
    </div>
    <div
      class="profile-page-general-details-item profile-page-settings-button-container"
    >
      <button
        mat-button
        class="profile-page-settings-button"
        (click)="openEditPhoneNumberDialog()"
      >
        {{ "profile.profile.changePhoneNumberButton" | translate }}
      </button>
      <div class="profile-page-settings-button-container-divider"></div>
      <button
        class="profile-page-settings-button"
        mat-button
        (click)="openChangePasswordDialog()"
      >
        {{ "profile.profile.changePasswordButton" | translate }}
      </button>
    </div>
  </div>
  <div
    class="profile-page-tabs-conatiner profile-page-inside-containers profile-page-inside-containers-responsive"
  >
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab *ngIf="isStudent()">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">calendar_today</mat-icon>
          {{ "profile.laundryAppointmentTitleLabel" | translate }}
        </ng-template>
        <p-table
          [value]="studentLaundryAppointments"
          [tableStyle]="{ 'min-width': '100%' }"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate='{{"profile.laundryAppointment.pageText"|translate}}'
        >
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="userLaundryAppointmentsCell">
                  {{ "profile.laundryAppointmentWashingMachine" | translate }}
                </div>
              </th>
              <th>
                <div class="userLaundryAppointmentsCell">
                  {{ "profile.laundryAppointmentDryer" | translate }}
                </div>
              </th>
              <th>
                <div class="userLaundryAppointmentsCell">
                  {{ "profile.laundryAppointmentDate" | translate }}
                </div>
              </th>
              <th>
                <div class="userLaundryAppointmentsCell">
                  {{ "profile.laundryAppointmentStatus" | translate }}
                </div>
              </th>
              <th>
                <div class="userLaundryAppointmentsCell">
                  {{ "profile.laundryAppointmentAnuleaza" | translate }}
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-laundry>
            <tr>
              <td>
                <div class="userLaundryAppointmentsCell">
                  {{ laundry.washingMachineNumber }}
                </div>
              </td>
              <td>
                <div class="userLaundryAppointmentsCell">
                  {{ laundry.dryerNumber }}
                </div>
              </td>
              <td>
                <div class="userLaundryAppointmentsCell">
                  {{ formatLaundryAppoitnmentDate(laundry.intervalBeginDate) }}
                </div>
              </td>
              <td>
                <div class="userLaundryAppointmentsCell">
                  <p-tag
                    [value]="getLaundryStatusValue(laundry.statusLaundry)"
                    [severity]="getLaundryStatusSeverity(laundry.statusLaundry)"
                  ></p-tag>
                </div>
              </td>
              <td>
                <div *ngIf = "isScheduledLaundrtyStatus(laundry.statusLaundry )" class="userLaundryAppointmentsCell">
                  <p-toast />
                  <p-button
                    (click)="confirmDeletion($event)"
                    icon="pi pi-times"
                    [rounded]="true"
                    severity="danger"
                    
                  ></p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </mat-tab>

      <mat-tab *ngIf="isStudent()">
        <ng-template mat-tab-label>
          <mat-icon>report_problem</mat-icon>
          {{ "profile.ticketsTitleLabel" | translate }}
        </ng-template>
        <p-table
          [value]="studentTickets"
          [tableStyle]="{ 'min-width': '100%' }"
          [paginator]="true"
          dataKey="title"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate='{{"profile.tickets.pageText"|translate}}'
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5rem"></th>
              <th style="width: 20%;">
                <div class="userTicketsCell">
                  {{ "profile.ticketsTitleTicket" | translate }}
                </div>
              </th>
              <th style="width: 20%;">
                <div class="userTicketsCell">
                  {{ "profile.ticketsCreationDateLabel" | translate }}
                </div>
              </th>
              <th style="width: 20%;">
                <div class="userTicketsCell">
                  {{ "profile.ticketsIntervationType" | translate }}
                </div>
              </th>
              <th style="width: 20%;">
                <div class="userTicketsCell">
                  {{ "profile.ticketsAlreadyAnuncement" | translate }}
                </div>
              </th>
              <th style="width: 20%;">
                <div class="userTicketsCell">
                  {{ "profile.ticketsStatus" | translate }}
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ticket let-expanded="expanded">
            <tr>
              <td>
                <p-button type="button" pRipple [pRowToggler]="ticket" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
              </td>
              <td>
                <div class="userTicketsCell">
                  {{ ticket.title }}
                </div>
              </td>
              <td>
                <div class="userTicketsCell">
                  {{ formatTicketDate(ticket.creationDate) }}
                </div>
              </td>
              <td>
                <div class="userTicketsCell">
                  {{ ticket.tipInterventie }}
                </div>
              </td>
              <td>
                <div class="userTicketsCell">
                  {{ wasTicketAnnouncedBefore(ticket.alreadyAnuncement) }}
                </div>
              </td>
              <td>
                <div class="userTicketsCell">
                  <p-tag
                    [value]="ticket.statusTicket"
                    [severity]="getTicketStatusSeverity(ticket.statusTicket)"
                  ></p-tag>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-ticket>
            <tr>
              <td colspan="7">
                <div class="ticket-expansion" [innerHTML]="ticket.description">
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </mat-tab>
      <mat-tab
        class="profile-page-tab"
        *ngIf="isStudent() || isInactivStudent()"
        ><ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">hourglass_empty</mat-icon>
          {{ "profile.registerRequestTitleLabel" | translate }}
        </ng-template>
        <p-table
          [value]="registerRequests"
          [tableStyle]="{ 'min-width': '100%' }"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate='{{"profile.registerRequest.pageText"|translate}}'
        >
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="userRegisterRequestsCell">
                  {{ "profile.registerRequestCreationDateLabel" | translate }}
                </div>
              </th>
              <th>
                <div class="userRegisterRequestsCell">
                  {{ "profile.registerRequestDorm" | translate }}
                </div>
              </th>
              <th>
                <div class="userRegisterRequestsCell">
                  {{ "profile.registerRequestRoom" | translate }}
                </div>
              </th>
              <th>
                <div class="userRegisterRequestsCell">
                  {{ "profile.registerRequestContact" | translate }}
                </div>
              </th>
              <th>
                <div class="userRegisterRequestsCell">
                  {{ "profile.registerRequestStatus" | translate }}
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-request>
            <tr>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.createdOn.join("-") }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.dormitoryName }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.roomNumber }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  {{ request.administratorContact }}
                </div>
              </td>
              <td>
                <div class="userRegisterRequestsCell">
                  <p-tag
                    [value]="getRequestStatusValue(request.status)"
                    [severity]="getRequestStatusSeverity(request.status)"
                  ></p-tag>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              *ngIf="isInactivStudent()"
              type="button"
              icon="pi pi-plus"
              styleClass="p-button-text"
              (click)="showRegisterRequestDialog()"
            ></p-button>
          </ng-template>
        </p-table>
      </mat-tab>
      <mat-tab class="x" *ngIf="isDormAdmin() && !isInactiveDormAdministrator">
        <ng-template mat-tab-label>
          <mat-icon>whatshot</mat-icon>
          {{ "profile.myevenets" | translate }}
        </ng-template>
        <div class="administrator-eveniments-tab-header">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            severity="success"
            (click)="isCreateEvenimentDialogVisible = true"
          ></button>
        </div>
        <div class="eveniments-list-container">
          <div class="eveniments-list">
            <p-panel
              *ngFor="let eveniment of eveniments"
              class="eveniment"
              [toggleable]="true"
            >
              <ng-template pTemplate="header">
                <div class="panel-header">
                  <span class="panel-header-title">
                    {{ eveniment.title }}
                  </span>
                  <span class="panel-header-adminName">
                    {{ eveniment.dormAdministratorName }}
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="icons" class="panel-icons">
                <button
                  icon="pi pi-pencil"
                  (click)="openEditEvenimentDialog(eveniment)"
                  pButton
                  pRipple
                  type="text"
                  class="p-button-rounded p-button-text p-button-info mr-2"
                ></button>
              </ng-template>
              <ng-template pTemplate="footer">
                <div class="panel-footer">
                  <button
                    pButton
                    type="button"
                    label="{{'profile.createEventDeleteButton' | translate}}"
                    severity="danger"
                    class="attend-button"
                    (click)="deleteEveniment(eveniment)"
                  ></button>

                  <span
                    class="panel-footer-attendees"
                    *ngIf="eveniment.canPeopleAttend"
                  >
                    {{ eveniment.numberOfAttendees }}
                    {{ "profile.myeventsAttending" | translate }}
                  </span>

                  <span class="panel-footer-date">
                    {{ "profile.myeventsStartingAt" | translate }}
                    {{ formatDate(eveniment.startDate) }}
                  </span>
                </div>
              </ng-template>
              <div class="panel-body" [innerHTML]="eveniment.description"></div>
            </p-panel>
          </div>
        </div>
      </mat-tab>

      <mat-tab *ngIf="isApplicationAdministrator()">
        <ng-template mat-tab-label>
          <mat-icon>assessment</mat-icon>
          Prezentare generală
        </ng-template>
        <div class="overview-chart">
          <p-chart width="{{isMobileScreen ? '300' : ' 600'}}" height="{{isMobileScreen ? '300' : ' 600'}}" *ngIf="isOverviewChartVisible" type="pie" [data]="data" [options]="options" />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
