<app-loading-screen *ngIf="isLoadingScreenVisible"></app-loading-screen>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="isTokenValid" class="change-forgotten-password-main-container center-objects">
    <div class="change-forgotten-password-container center-objects">
        <div class="container-header">
            <h1 class="container-header-text">Reset password</h1>
        </div>
        <div class="container-body">
            <form class="container-body-form" [formGroup]="resetPasswordForm">
                <p-floatLabel>
                    <p-password id="password" formControlName="newPassword" [toggleMask]="true" />
                    <label for="password">Password</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-password
                    [feedback]="false"
                    [ngClass]="{'ng-invalid ng-dirty' : arePasswordsMatching}"
                    id="confirm-password"
                    formControlName="confirmPassword"
                    [toggleMask]="true" />
                    <label for="confirm-password">Confirm password</label>
                </p-floatLabel>
            </form>
        </div>
        <div class="container-buttons">
            <p-button (onClick)="resetPassword()" label="Reset password" severity="info" raised="true" />
        </div>
    </div>
</div>
