<app-loading-screen *ngIf="isLoadingScreenVisible"></app-loading-screen>
<p-confirmDialog />
<div *ngIf="!isLoadingScreenVisible" class="keep-laundry-appointment-page-container">
    <div class="keep-laundry-appointment-card">
        <div class="card-title">
            <i class="pi pi-exclamation-circle card-title-icon"></i>
            <h1 class="card-title-text">
               {{"keepLaundrAppointment.Title" | translate}}
            </h1>
        </div>
        <div class="card-description">
            <p class="card-description-text">
               {{"keepLaundrAppointment.Message" | translate}}
            </p>
        </div>
        <div class="card-buttons">
            <button pButton label="{{'keepLaundrAppointment.KeepButton'|translate}}" class="card-button" severity="info" (click)="confirmKeep()"></button>
            <button pButton label="{{'keepLaundrAppointment.CancelButton'|translate}}" class="card-button" severity="danger" (click)="confirmCancel()"></button>
        </div>
    </div>
</div>