<app-loading-screen *ngIf="loading"></app-loading-screen>
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="confirm-dialog-header">
            <div class="confirm-dialog-icon-container">
                <i class="pi pi-question confirm-dialog-icon text-5xl"></i>
            </div>
            <span class="confirm-dialog-header-message">
                {{ message.header }}
            </span>
            <p class="confirm-dialog-message mb-0">{{ message.message }}</p>
            <div class="confirm-dialog-buttons flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    severity="danger"
                    label="{{'roomsAdministrationPage.deleteRoom.dialog.buttons.delete'|translate}}" 
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="{{'roomsAdministrationPage.deleteRoom.dialog.buttons.cancel'|translate}}" 
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
<p-dialog
    header="{{'roomsAdministrationPage.addNewRoomDialog.header'|translate}}"
    [modal]="true"
    [(visible)]="isAddNewRoomDialogVisible"
    [style]="{ width: '25rem' }">
    <form class="add-new-dorm-body" [formGroup]="addNewRoomForm">
        <p-floatLabel class="add-new-dorm-form-element">
            <input 
                class="add-new-dorm-form-input-element"
                pInputText
                id="roomNumber"
                formControlName="roomNumber"
                [ngClass]="{'ng-dirty': hasRoomNumberError, 'ng-invalid': hasRoomNumberError}" />
            <label for="roomNumber">{{'roomsAdministrationPage.addNewRoomDialog.roomNumber.label'|translate}}</label>
        </p-floatLabel>
    </form>
    <div class="add-new-dorm-buttons">
        <p-button label="{{'roomsAdministrationPage.addNewRoomDialog.buttons.cancel'|translate}}" severity="secondary" (click)="isAddNewRoomDialogVisible = false" />
        <p-button label="{{'roomsAdministrationPage.addNewRoomDialog.buttons.save'|translate}}" severity="info" (click)="submitAddNewRoomForm()" />
    </div>
</p-dialog>
<div class="main-container">
    <div class="main">
        <p-table
            #dt2
            [value]="rooms"
            dataKey="roomNumber"
            [rows]="6"
            [loading]="loading"
            [paginator]="true"
            [globalFilterFields]="['roomNumber', 'numberOfStudents']"
            [tableStyle]="{ 'min-width': '75vw', 'max-height': '80vh'}"
            class="rooms-table"
        >
            <ng-template pTemplate="caption">
                <div class="rooms-table-caption">
                    {{"roomsAdministrationPage.table.caption"|translate}}
                    <div>
                        <p-iconField iconPosition="left">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input 
                                #inputF
                                pInputText 
                                type="text" 
                                (input)="dt2.filterGlobal(inputF.value, 'contains')" 
                                placeholder="{{'roomsAdministrationPage.table.search.placeholder'|translate}}" />
                        </p-iconField>
                    </div>
                    <p-button icon="pi pi-plus" severity="success" (click)="isAddNewRoomDialogVisible = true"/>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:40%">{{'roomsAdministrationPage.table.header.roomNumber'|translate}}</th>
                    <th style="width:40%">{{'roomsAdministrationPage.table.header.numberOfStudents'|translate}}</th>
                    <th style="width:10%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-room let-expanded="expanded">
                <tr>
                    <td>
                        <p-button
                            *ngIf="room.numberOfStudents > 0"
                            type="button"
                            pRipple
                            [pRowToggler]="room"
                            [text]="true"
                            [rounded]="true"
                            [plain]="true"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" 
                        />
                    </td>
                    <td>
                        {{ room.roomNumber }}
                    </td>
                    <td>
                        {{ room.numberOfStudents }}
                    </td>
                    <td>
                        <button
                            pButton 
                            pRipple 
                            type="button" 
                            (click)="deleteRoom(room)"
                            severity="danger"
                            icon="pi pi-trash" 
                            class="p-button-rounded p-button-text">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-room>
                <tr>
                    <td colspan="7">
                        <div class="p-3">
                            <p-table [value]="getStudentsFromRoom(room)" dataKey="name">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{"roomsAdministrationPage.table.extended.header.studentName"|translate}}</th>
                                        <th>{{"roomsAdministrationPage.table.extended.header.studentEmail"|translate}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-student>
                                    <tr>
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.email }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">{{"roomsAdministrationPage.table.extended.noStudents"|translate}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">{{"roomsAdministrationPage.table.noRooms"|translate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
