<app-loading-screen *ngIf="isLoadingScreenVisible"></app-loading-screen>
<h2 mat-dialog-title class="register-request-details-popup-title">{{"popup.registerRequestDetails.title"|translate}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="register-request-details-popup-main-container">
    <div class="register-request-details-names">
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">
         {{"popup.registerRequestDetails.firstName"|translate}}:
        </p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">
         {{"popup.registerRequestDetails.lastName"|translate}}:
        </p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">{{"popup.registerRequestDetails.email"|translate}}:</p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">
          {{"popup.registerRequestDetails.dorm"|translate}}:
        </p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">
         {{"popup.registerRequestDetails.room"|translate}}:
        </p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">
         {{"popup.registerRequestDetails.matriculationNumber"|translate}}:
        </p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">
          {{"popup.registerRequestDetails.phoneNumber"|translate}}:
        </p>
      </div>
      <div class="register-request-details-names-container">
        <p class="register-request-details-names-container-content">{{"popup.registerRequestDetails.date"|translate}}:</p>
      </div>
    </div>
    <div class="register-request-details-values">
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.firstName }}
        </p>
      </div>

      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.lastName }}
        </p>
      </div>
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.email }}
        </p>
      </div>
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.dormName }}
        </p>
      </div>
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.roomNumber }}
        </p>
      </div>
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.matriculationNumber }}
        </p>
      </div>
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.phoneNumber }}
        </p>
      </div>
      <div class="register-request-details-values-container">
        <p class="register-request-details-values-container-content">
          {{ data.createdOn }}
        </p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="register-request-popup-actions">
    <button class="register-request-popup-actions-decline" mat-button (click)="decline()">{{"popup.registerRequestDetails.RejectButton"|translate}}</button>
    <button class="register-request-popup-actions-accept" mat-button (click)="accept()">{{"popup.registerRequestDetails.AcceptButton"|translate}}</button>
  </div>
</mat-dialog-actions>
