<h2 mat-dialog-title>{{"dialog.newRegisterRequest"|translate}}</h2>
<app-loading-screen *ngIf="isLoadingScreenVisible"></app-loading-screen>
<mat-dialog-content>
  <form [formGroup]="newRequestForm" class="dialog-new-request-form" (ngSubmit)="sendNewRegisterRequest()">
    <mat-form-field appearance="fill">
      <mat-label>{{"dialog.newRegisterRequest.dorm"|translate}}</mat-label>
      <mat-select
        (selectionChange)="onDormSelected()"
        formControlName="dormName"
      >
        <mat-option *ngFor="let dormName of dormsNames" [value]="dormName">{{
          dormName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"dialog.newRegisterRequest.room"|translate}}</mat-label>
      <input
        matInput
        type="number"
        formControlName="roomNumber"
        placeholder="Enter room number"
      />
      <mat-error
        *ngIf="
          roomNumber?.invalid && (roomNumber?.dirty || roomNumber?.touched)
        "
      >
        <span *ngIf="roomNumber?.errors?.['required']"
          >{{"dialog.newRegisterRequest.error1"|translate}}</span
        >
        <span *ngIf="roomNumber?.errors?.['invalidRoomNumber']"
          >{{"dialog.newRegisterRequest.error2"|translate}}</span
        >
      </mat-error>
    </mat-form-field>
    <button class="button-submit-new-request" mat-button>{{"dialog.newRegisterRequest.saveButton"|translate}}</button>
  </form>
</mat-dialog-content>
