<div class="tickets-administration-page-main-container">
    <div class="card">
        <p-table
            [value]="tickets"
            dataKey="creationDate"
            [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="caption">
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th pSortableColumn="creationDate">
                        Creation Date <p-sortIcon field="creationDate"></p-sortIcon>
                    </th>
                    <th>
                        Title
                    </th>
                    <th pSortableColumn="status">
                        Status <p-sortIcon field="status"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket let-expanded="expanded">
                <tr>
                    <td>
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="ticket"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{ formatDate(ticket.creationDate) }}</td>
                    <td>
                        {{ticket.title}}
                    </td>
                    <td>
                        <p-tag
                            [value]="ticket.statusTicket"
                            [severity]="getStatusSeverity(ticket.statusTicket)"></p-tag>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-ticket>
                <tr>
                    <td colspan="4">
                        <div class="p-3">
                            <p-table
                                [value]="[ticket]"
                                dataKey="title">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            Tip Interventie 
                                        </th>
                                        <th>
                                            Description 
                                        </th>
                                        <th pSortableColumn="alreadyAnuncement">
                                            Already Anuncement <p-sortIcon field="alreadyAnuncement"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="studentEmail">
                                            Student Email <p-sortIcon field="studentEmail"></p-sortIcon>
                                        </th>
                                        <th >
                                            Room Number 
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-ticket>
                                    <tr>
                                        <td>{{ ticket.tipInterventie }}</td>
                                        <td [innerHTML]="ticket.description"></td>
                                        <td>{{ ticket.alreadyAnuncement }}</td>
                                        <td>{{ ticket.studentEmail }}</td>
                                        <td>{{ ticket.roomNumber }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="5">
                                            No additional details for this ticket.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
