<p-toast />
<p-confirmDialog />
<app-loading-screen *ngIf="isLoadingScreenVisible"></app-loading-screen>
<div class="forgot-password-main-container">
    <div class="forgot-password-container">
        <div class="forgot-password-header">
            <h1 class="forgot-password-header-text">Let us help</h1>
        </div>
        <div class="forgot-password-body">
            <p class="forgot-password-body-text">
                Enter your email address and we'll send you a link to reset your password.
            </p>
            <form [formGroup]="emailForm">    
                <p-iconField>
                    <p-inputIcon styleClass="pi pi-envelope" />
                    <input formControlName="email" type="text" pInputText placeholder="Email">
                </p-iconField>
            </form>
        </div>
        <div class="forgot-password-buttons">
            <p-button (onClick)="submitForgotPasswordForm()" label="Send email" severity="info"></p-button>
        </div>
    </div>
</div>
