<h2 class="remove-student-from-dorm-dialog-title">{{"dialog.removeStudentFromDormTitle"|translate}}?</h2>
<div class="remove-student-from-dorm-dialog-content">
    <p>{{"dialog.removeStudentFromDormMessage"|translate}} {{data.firstName}} {{data.lastName}} {{"dialog.removeStudentFromDormMessage2"|translate}} {{data.dormName}} ?</p>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onRemoveStudentFromRoom()" class="remove-student-from-dorm-dialog-button-submit">
   {{"dialog.removeStudentFromDormButton"|translate}}
    </button>
</mat-dialog-actions>