<p-card header="Student" class="student-details-container">
  <div class="detail-item">
    <span class="label">Email: </span>
    <span class="value">{{ displayStudentDetails?.email }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Phone Number: </span>
    <span class="value">{{ displayStudentDetails?.phoneNumber }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Dorm Name: </span>
    <span class="value">{{ displayStudentDetails?.dormName }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Room Number: </span>
    <span class="value">{{ displayStudentDetails?.roomNumber }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Matriculation Number: </span>
    <span class="value">{{ displayStudentDetails?.matriculationNumber }}</span>
  </div>
</p-card>
