<div class="student-details-container">
  <div class="student-detail-header">
    <div class="details-header">Student</div>
  </div>
  <div class="student-details-body">
    <div class="detail-item">
      <span class="label"
        >{{ "profile.displayStudentDetails.EmailLabel" | translate }}:
      </span>
      <span class="value">{{ displayStudentDetails?.email }}</span>
    </div>
    <div class="detail-item">
      <span class="label"
        >{{ "profile.displayStudentDetails.PhoneNumberLabel" | translate }}:
      </span>
      <span class="value">{{ displayStudentDetails?.phoneNumber }}</span>
    </div>
    <div class="detail-item">
      <span class="label"
        >{{ "profile.displayStudentDetails.DormLabel" | translate }}:
      </span>
      <span class="value">{{ displayStudentDetails?.dormName }}</span>
    </div>
    <div class="detail-item">
      <span class="label"
        >{{ "profile.displayStudentDetails.RoomLabel" | translate }}:
      </span>
      <span class="value">{{ displayStudentDetails?.roomNumber }}</span>
    </div>
    <div class="detail-item">
      <span class="label"
        >{{
          "profile.editStudentDetails.MatriculationNumberLabel" | translate
        }}:
      </span>
      <span class="value">{{
        displayStudentDetails?.matriculationNumber
      }}</span>
    </div>
  </div>
</div>
