<div class="inactiv-student-details-container">
  <div class="inactive-student-detail-header">
    <div class="details-header">{{"profile.displayInactiveStudentDetails.Header"|translate}}</div>
  </div>
  <div class="inactive-student-detail-body">
    <div class="detail-item">
      <span class="label">{{"profile.displayInactiveStudentDetails.EmailLabel"|translate}}: </span>
      <span class="value">{{ displayInactiveStudentDetails?.email }}</span>
    </div>
    <div class="detail-item">
      <span class="label">{{"profile.displayInactiveStudentDetails.PhoneNumberLabel"|translate}}: </span>
      <span class="value">{{
        displayInactiveStudentDetails?.phoneNumber
      }}</span>
    </div>
  </div>
</div>
