<div class="laundry-appointments-main-container">
    <div class="laundry-appointments-form-container">
        <mat-form-field>
            <mat-label>Choose a washing machine</mat-label>
            <mat-select [(ngModel)]="selectedMachineId">
                <ng-container *ngFor="let washingMachine of washingMachines">
                    <mat-option [value]="washingMachine.id" [disabled]="!washingMachine.available">
                        {{washingMachine.name}}{{!washingMachine.available ? ' (not working)' : ''}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-card>
            <mat-calendar [dateFilter]="datePickerFilter" [(selected)]="selectedDate"></mat-calendar>
        </mat-card>
        <mat-chip-listbox [(ngModel)]="selectedIntervalStartHour">
            <ng-container *ngFor="let timeInterval of timeIntervals; let first = first">
                <mat-chip-option [selected]="first" [value]="timeInterval.startHour">{{timeInterval.printableValue}}</mat-chip-option>
            </ng-container>
        </mat-chip-listbox>
        <button
            mat-raised-button
            (click)="makeAppointment()">
            <mat-icon>assignment</mat-icon>
            Make appointment
        </button>
    </div>
</div>